.product-details {
  margin: 80px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-details:hover {
  transform: scale(1.02);
}

.product-details img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.product-details img:hover {
  transform: scale(1.1);
}

.product-details-info {
  text-align: center;
  margin-top: 20px;
}

.product-details-info h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.product-details-info h6 {
  margin-bottom: 15px;
  color: #777;
}

.product-details-info button {
  background-color: #27ae60; /* Set to the same color as the comment button */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product-details-info button:hover {
  background-color: #218c56;
}

.similar-products {
  margin: 0 auto; /* Centering the .similar-products horizontally */
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}

.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: 300px !important;
}

.comment-section {
  margin: 50px auto; /* Centering the .comment-section horizontally */
}

.comment-section h4 {
  color: #333;
}

.comment-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment-section label[for="file-input"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
}

.comment-section label[for="file-input"]:hover {
  background-color: #2980b9;
}

.comment-section label {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: inline-block; /* Display the label as an inline-block element */
}

.comment-section label:hover {
  background-color: #2980b9;
}

.comment-section button {
  background-color: #27ae60; /* Set to the same color as the comment button */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.comment-section button:hover {
  background-color: #218c56;
}

.comment-section .comment {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.comment-section .comment p {
  margin: 0;
}

.comment-section .comment p:first-child {
  font-weight: bold;
}

.comment-section .comment-photo {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
